{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
<h2>{{ title }} API Switch Demo</h2>
  <a href="/get_ports">Update Switch Ports</a><br><br>
  <a href="/config">Configure Demo</a>
 <table class="table table-striped table-hover table-sm">

</table>

</div>


{% endblock %}
